.admin-panel { 
	display: flex;
	flex-direction: column;
	width: 350px;
}
.admin-panel-container {
	display: flex;
	justify-content: center;
}
.admin-panel-pdf {
	width: 350px;
	height: 22px;
	border: 1px solid;
}

.admin-panel-input {
	margin-bottom: 15px;
}
.admin-panel-input.submit {
	width: 60px;
	margin-top: 10px;
}
.admin-panel-input-container.submit{
	display: flex;
	justify-content: center;
}
.admin-panel-label {
	padding: 0 0 5px 5px;
}
#loading-message{
	margin: 0;
}
.reports-container{
	display: flex;
}

.reports {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.4);
	padding-top: 10px;
}

.reports button {
	margin: 10px;
}
.pdf-container {
	display: flex;
	flex-direction: column;
}

.pagenation {
	display: flex;
	justify-content: flex-end;
	background-color: rgba(0,0,0,0.4);
}

.reports-page.reports {

}