.trident-page-container {
	display: flex;
	flex-direction: column;
}

.trident-panel-container {
	display: flex;
}

.trident-panel {
	margin-right: 15px;
	min-width: 	270px;
}

.trident-panel-alerts-container {
	width: 100%;
}
.trident-panel-alerts-headers {
	display: flex;
}

 .trident-panel-alerts {
 	display: flex;
 	flex-direction: column;
 }

.trident-panel-alert {
	display: flex;
}
