<!DOCTYPE html>
<html>
  <head>
    <title>Phalanx Trident Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Phalanx Secure Solutions">
    <meta name="author" content="Willie Smith">
    <meta name="icon" type="image/x-icon" href="img/phalanx_favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
    </script>
  </head>
  <body>
    <div class="container"></div>
  </body>
  <script src="/app.js"></script>
</html>
