.hidden {
	display: none;
}

.small {
	flex: 1;
}

.medium {
	flex: 2;
}

.large {
	flex: 3;
}

.nav-bar-container{
	background-color: rgba(0,0,0,.5);
	position: fixed;
	z-index: 904;
	box-shadow: 2px 0 3px rgba(0,0,0,.5);
	height: 66px;
	width: 100%;
	min-width: 320px;
	padding: 0 32px 0 40px;
	top: 0;
}

.nav-bar {
	display: flex;
	align-items: center;
	/* flex-flow: row; */
	height: 100%;
	width: calc(100% - 40px);
}

.nav-bar-left {
	flex: 1;
	display: flex;
}

.nav-bar-middle {
	flex: 2;
	display: flex;
	justify-content: center;
}

.nav-bar-right {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.gbms-tech-logo {
	height: 50px;
	width: 150px;
}

.side-panel-container {
	top: 66px;
	left: 0;
	z-index: 904;
	display: block;
	min-height: 100%;
	background-color: rgba(0,0,0,.5);
	height: 100%;
	position: fixed;
	min-width: 50px;
}

.side-panel-item {
	display: flex;
	align-items: center;
	padding: 0 0 0 15px;
	height: 40px;
}

.side-panel-item:hover {
	border-right: 4px solid rgba(96,250,132,.5);
	color: rgba(96,250,132,.2);
}

./*side-panel-item:hover {
	border-right: 4px solid rgba(96,250,132,.2);
	color: rgba(96,250,132,.2);
}*/

.side-panel-item i {
	width: 20px;
	padding-right: 15px;
}
.side-panel-item p {
	padding: 0 10px 0 5px; 
}

.side-panel-item-container {
 border-right: 4px transparent;
 color: white;
}

.side-panel-item-container.selected:hover{
	/*border-right: 4px solid rgba(96,250,132,.2);
	color: white;*/
}

.side-panel-item-container.selected {
	background: rgba(96,250,132,.2);
	color: white;
}

.side-panel-item-container p {
	cursor: pointer;
}

.side-panel-item-expanded.show {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(0,0,0,.5);
}

.side-panel-item-expanded p {
	padding: 5px 0;
	margin: 0;
	cursor: pointer; 
	width: 100%;
	display: flex;
	justify-content: center;
}

.side-panel-item-expanded p:hover {
	/*margin: 5px 0;*/
	cursor: pointer;
	color: rgba(96,250,132,.2);
	border-right: 4px solid rgba(96,250,132,.5);
}

.side-panel-item-expanded p.hidden {
	display: none;
}
.hamburger-container {
	margin-left: 30px;
	padding: 10px 0 5px 0;
}

i.fa-chevron-up, i.fa-chevron-down { 
	padding-left: 	10px;
}

i.fa-sign-out {
	padding: 0 20px;
}

i.fa-user-circle {
	padding: 0 10px;
}

.portal-display {
	position: relative;
	top: 67px;
	left: 50px;
	width: calc(100% - 125px);
	padding: 8px 32px 8px 30px;
	height: 100%;
}

.portal { 
	height: 100%;
}